# ========================
# Optional Project Folders
# ========================
# dataset/
# database/
# model/
# processed/

# ========================
# Python & Notebooks
# ========================
__pycache__/
*.py[cod]
*.egg-info/
.ipynb_checkpoints/

# ========================
# Environment & Secrets
# ========================
.env
.venv/
*.env

# ========================
# OS & Editor-Specific
# ========================
.DS_Store
.vscode/

# ========================
# Data Files
# ========================
*.db
*.pkl
dataset/*.csv
dataset/*.xlsx
database/*.db
processed/*.csv

# ========================
# Logs
# ========================
logs/
*.log

# ========================
# MLflow Artifacts
# ========================
mlruns/
mlartifacts/

# ========================
# Docker
# ========================
*.tar
*.img

*.pem